body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}
header {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  margin-left: 20px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}
.hero {
  background-color: #e0e0e0;
  padding: 50px 0;
  text-align: center;
}
.hero .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.projects {
  
  padding: 50px 0;
}
.projects h2 {
  text-align: left;
  margin-bottom: 30px;
  margin-left: 100px;
}
.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}
.project-item {
  background-color: #444;
  color: #fff;
  padding: 20px 30px;
  width: 300px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
footer a {
  text-decoration: underline;
}