.html, body{
    padding: 0;
    margin: 0;
    justify-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    caret-color: transparent;
}
input{
    caret-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
    padding: 5px;
}
#container{
    justify-items: center;
    width: 1424px;
    height: auto;
    padding-bottom: 41.94px;
    background-color: #F4F6F9;

}
.form_add{
    width: 840px;
    height: 343.5px;
    background-color: #FFFFFF;
    justify-items: center;
    border-radius: 15px;
    align-content: center;
}
.form_add p{
    margin: 0;
    font-size: 12.59px;
    color: red;
    
    display: none;
}
.form_add input{
    width: 798px;
    height: 37.5px;
    margin: 5px 0;
}

.form_list table{
    width: 800px;
    text-align: center;
}
.form_list{
    width: 840px;
    border-radius: 15px;
    background-color: #FFFF;
    padding-bottom: 10px;
}
.form_shashow{
    box-shadow: 0px 0px 10px 0.5px rgb(160, 160, 160);
}
