html, body{
    padding: 0 10px 0 10px;
    margin: 0;
}
#header-title{
    color: rgb(84, 84, 230);
}
#content{
    border-left: 10px solid rgba(255, 255, 0, 0.675);
    background-color: rgb(234, 234, 216);
    padding: 10px;
}